<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />

    <link rel="stylesheet" href="/styles.css" />

    <!-- SEO -->
    <title>{{.Page.Title}}</title>
    <meta name="description" content="{{.Description}}" />

    <!--Twitter Card-->
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Schema -->
    <link rel="publisher" href="{{.Url}}" />
    <meta itemprop="name" content="{{.Page.Title}}" />
    <meta itemprop="description" content="{{.Description}}" />
    {{with .Page.Image}}<meta itemprop="image" content="{{.}}"/>{{end}}

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{.Page.Title}}" />
    {{with .Page.Image}}<meta property="og:image" content="{{.}}"/>{{end}}
    <meta property="og:description" content="{{.Description}}" />
    <meta property="og:site_name" content="{{.Name}}" />
    <meta property="og:locale" content="pt-BR" />
    
  </head>
  <body>
    <a class="skip-link" href="#main">Pular para conteúdo principal</a>

    <!-- Header -->
    {{if not .Page.Plain}}
    <header>
      <a href="/"><img src="/logo_b.svg" alt="{{.Name}}" height="60" /></a>
      {{if not .Subscription}}
      <div class="right">
        {{range .Menu}}
        <a href="{{.Link}}"><span>{{.Text}}</span></a>
        {{end}}
      </div>
      {{end}}
    </header>
    {{end}}

    <main id="main">
      {{template "content" .}}
    </main>

    <!-- Footer -->
    {{if not .Page.Plain}}
    <footer>
      <p>Este site e informações aqui contidas são um produto de ficção.</p>
      <p>
        © <span id="year">{{ now.Format "Jan" }}</span>
        {{.Name}}
        {{if .Vendor}}
        - {{.Vendor}}
        {{end}}
      </p>
    </footer>
    {{end}}

    <script type="text/javascript" src="/script.js" defer></script>
  </body>
</html>
