{{define "content"}}
{{$cmt := index .Committees .Page.Index}}
<div class="hero center">
  <div class="image">
    {{$first := index $cmt.Images 0}}
    {{$second := index $cmt.Images 1}}
    <img src="{{$first.Src}}" alt="{{$first.Alt}}" loading="lazy" />
  </div>
  <h1>{{$cmt.Name}}</h1>
  {{if $cmt.Description}}
  <h2>{{$cmt.Description}}</h2>
  {{end}}
</div>

<div class="column">
  <div class="center">
    <p>{{$cmt.Text}}</p>
    <div class="center">
      {{with $cmt.Guide}}
      <div class="button primary">
        <a target="_blank" rel="noopener" href="{{.}}">
          Baixe o guia!
        </a>
      </div>
      {{end}}
      {{with $cmt.Reps}}
      <div class="button secondary">
        <a target="_blank" rel="noopener" href="{{.}}">
          Confira a lista de representações!
        </a>
      </div>
      {{end}}
    </div>
  </div>
  <img alt="{{$second.Alt}}" src="{{$second.Src}}" loading="lazy" />
</div>
{{end}}

{{template "base.html" .}}
