{{define "content"}}
<div class="center full-page error">
  <div class="error-text">
    <h1 class="error-code">404</h1>
    <h2 class="error-message">Essa página não foi encontrada</h2>
  </div>
  <div class="button secondary">
    <a href="/">Volte para a página inicial</a>
  </div>
</div>
{{end}}

{{template "base.html" .}}
