{{define "content"}}
<div class="hero center">
  <div class="image">
    {{range .Committees}}
    {{$img := index .Images 0}}
    <img src="{{$img.Src}}" alt="{{$img.Alt}}" loading="lazy" />
    {{end}}
  </div>
  <h1>Últimas notícias</h1>
</div>

<ol class="index-wrapper">
  {{range .Posts}}
  <li>
    <article>
      <img src="{{.Image.Src}}" alt="{{.Image.Alt}}" />
      <a href="/ac/m/{{.Media | slugify}}/{{.Title | slugify}}">
        <h2>{{.Title}}</h2>
      </a>
      <a href="/ac/{{.Cmt | slugify}}">
        <p class="cmt">{{.Cmt}}</p>
      </a>
      <a href="/ac/m/{{.Media | slugify}}">
        <p class="media">{{.Media}}</p>
      </a>
    </article>
  </li>
  {{end}}
</ol>
{{end}}

{{template "base.html" .}}
