{{define "content"}}
<section class="center full-page main-hero">
  <img class="bg-image" src="{{.Hero.Src}}" alt="{{.Hero.Alt}}" />
  <div>
    <h1>{{.Description}}</h1>
    {{with .Subscription}}
    <div class="button primary">
      <a href="{{.}}" rel="noopener" target="_blank">Inscreva-se!</a>
    </div>
    {{else}}
    <div class="button primary">
      <a href="/ac">Confira as últimas notícias!</a>
    </div>
    {{end}}
  </div>
  <img class="logo" src="/logo.svg" alt="{{.Name}}" />
</section>

<section class="section center">
  <h2>Confira nossos comitês</h2>
  <ul class="block-wrapper">
    {{range .Committees}}
    <li class="block">
      <a href="/c/{{.Name | slugify}}">
        {{$image := index .Images 0}}
        <img class="bg-image" src="{{$image.Src}}" alt="{{$image.Alt}}" loading="lazy" />
        <div class="white center text">
          <h3>{{.Name}}</h3>
        </div>
      </a>
    </li>
    {{end}}
  </ul>
</section>

{{if or .Guides.Rules .Guides.Docs}}
<section class="section center">
  <h2>Guias da simulação</h2>
  <div class="same-line">
    {{if .Guides.Rules}}
    <div class="button primary">
      <a rel="noopener" target="_blank" href="{{.Guides.Rules}}">
        Baixe o Guia de Regras e Procedimentos
      </a>
    </div>
    {{end}}
    {{if .Guides.Docs}}
    <div class="button primary">
      <a rel="noopener" target="_blank" href="{{.Guides.Docs}}">
        Baixe o Guia de Documentos
      </a>
    </div>
    {{end}}
  </div>
</section>
{{end}}

{{end}}

{{template "base.html" .}}

