/* GENERAL */
{{range .Style.ImportFonts}}
@import url("{{.}}");
{{end}}

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
  font-family: {{join .Style.Body ", "}};
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: {{join .Style.Header ", "}};
}

a {
  color: inherit;
  text-decoration: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-page {
  width: 100vw;
  min-height: 100vh;
}

/* ACESSIBILITY - SKIP LINK */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: {{.Style.Link | color}};
  color: #fff;
  padding: 8px;
  z-index: 1000;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}

/* HEADER */
header {
  width: 100vw;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

header .right {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

header .right span {
  margin: 1rem;
}

header img {
  margin-left: 2em;
}

@media only screen and (max-width: 550px) {
  header {
    justify-content: center;
  }
  header .right {
    display: none;
  }
  header img {
    margin: 0;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;

  margin: 2em 5vw 1em;
}

footer p {
  margin: 0;
  font-size: 12px;
}

@media only screen and (max-width: 750px) {
  footer {
    flex-direction: column;
  }

  footer p {
    text-align: center;
  }
}

/* BUTTON */
.button {
  margin-top: 1em;
  white-space: nowrap;
}

.button.primary {
  padding: 1em 0;
}

.button.primary a {
  background-color: {{.Style.Primary | color}};
  color: {{.Style.Primary | textColor | color}};
  padding: 1em 2em;
}

.button.primary a:hover {
  text-decoration: underline;
}

.button.secondary {
  color: {{.Style.Link | color}};
  text-decoration: underline;
}

.button.secondary:hover {
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .button {
    font-size: 0.9em;
  }
}

/* /INDEX */
.main-hero {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.main-hero * {
  width: 40vw;
}

.main-hero .bg-image {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: brightness(50%);
  position: absolute;
  margin: 0;

  object-fit: cover;
}

.main-hero .logo {
  width: 40vw;
  max-height: 100vh;
}

.main-hero h1 {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px) {
  .main-hero * {
    width: 80vw;
  }
  .main-hero .logo {
    display: none;
  }
  .main-hero h1 {
    font-size: 2.5rem;
  }
}

.section {
  min-height: 35vh;
  margin-top: 5rem;
}

.section h2 {
  color: {{.Style.Secondary | color}};
  font-size: 2rem;
  text-decoration: solid;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .section h2 {
    font-size: 1.2rem;
  }
}

.same-line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2em;
}

.same-line > * {
  margin: 1em;
}

/* BLOCKS */
.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 5rem;
}
@media only screen and (max-width: 500px) {
  .block-wrapper {
    margin: 0;
    flex-direction: column;
    width: 100vw;
  }
}

.block {
  flex-grow: 1;
  position: relative;
  display: block;
  overflow: hidden;
  background-color: {{rgba .Style.Secondary "0.5"}};
  min-height: 30vw;
  min-width: 30vw;
  margin: 2em;
}

.block * {
  transition: all 0.1s;
}

.block .bg-image {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.block .text {
  position: absolute;
  text-align: center;
  inset: 0;
  padding: 2rem;
}

.block .text.white {
  color: white;
}

.block:hover .text {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.block:hover .bg-image {
  filter: brightness(50%);
}

@media only screen and (max-width: 650px) {
  .block {
    margin: 1em;
  }
}

/* ERROR PAGE */
.error {
  opacity: 0.8;
}
.error-text * {
  font-weight: 200;
  margin: 0;
  padding: 15px;
}
.error-code {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.error-message {
  font-size: 1.2rem;
}

/* HERO */
.hero {
  position: relative;

  width: 100vw;
  min-height: 50vh;
}

.hero * {
  color: white;
}

.hero .image {
  display: flex;
  justify-content: center;

  overflow: hidden;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
}

.hero .image, .hero .image * {
  z-index: -2;
}

.hero .image img {
  flex-grow: 1;
  flex-shrink: 2;
  filter: brightness(40%);

  object-fit: cover;
  margin: 0 -10vw;
}

.hero .image img:not(:first-child) {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.hero h1 {
  font-size: 4rem;
  text-transform: uppercase;
  margin: 2rem 0 0;
}

.hero h1, .hero h2 {
  text-align: center;
  max-width: 80vw;
}

.hero h2 {
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero h2 {
    font-size: 1.2rem;
  }
}

/* /C/[CMT] */
.column {
  margin: 5vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column > * {
  width: 40vw;
  max-height: 40vw;
}

.column p {
  font-size: 1.2rem;
  text-align: justify;
}

.column img {
  object-fit: cover;
}

@media only screen and (max-width: 1010px) {
  .column {
    flex-direction: column;
  }

  .column > * {
    width: 100%;
    margin: 1em 0;
  }

  .column *:not(img) {
    max-height: initial;
  }
}

/* INDEX */
.index-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0;
  margin: 2rem;
}

@media only screen and (max-width 550px) {
  .index-wrapper {
    margin: 0.5rem;
  }
}

.index-wrapper li {
  position: relative;
  overflow: hidden;

  display: block;
  height: 300px;
  flex-grow: 1;
  min-width: 300px;
  max-width: 500px;

  margin: 2em;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  color: white;
}

.index-wrapper li, .index-wrapper li * {
  transition: all 0.2s;
}

.inder-wrapper article {
  height: 100%;
  width: 100%;
}

.index-wrapper img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  object-fit: cover;
  filter: brightness(30%);
  z-index: -10;
}

.index-wrapper h2 {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  right: 2rem;
  margin: 0;

  font-weight: 900;
}

.index-wrapper h2:hover {
  opacity: 0.8;
}

.index-wrapper .cmt {
  display: inline-block;
  font-size: 0.75em;
  margin: 2rem;
  padding: 0.5em 1em;

  text-transform: uppercase;
  border: solid 1px white;
  border-radius: 10px;
}

.index-wrapper .cmt:hover {
  background-color: white;
  color: black;
}

.index-wrapper .media {
  position: absolute;
  top: 2.25rem;
  right: 2rem;

  margin: 0;
  display: inline-block;

  color: white;
  opacity: 0.8;
}

.index-wrapper .media:hover {
  opacity: 1;
}

@media only screen and (max-width: 350px) {
  .index-wrapper .media {
    display: none;
  }
}

.index-wrapper li:hover {
  transform: translateY(-5px);
  box-shadow: 5px 0 30px 5px rgba(0, 0, 0, 0.2);
}

/* /AC/M */
.ac-media-h1 {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  font-size: 1.2rem;
}

/* POSTS */
.post-meta {
  position: absolute;
  right: 10vw;

  cursor: default;
  text-transform: uppercase;  position
}
.post-meta * {
  display: inline-block;

  padding: 0.3rem 0.5rem;
  border: solid 1px black;
  border-radius: 5px;

  font-size: 0.8rem;
  margin: 1em 5px;
}
@media only screen and (max-width: 500px) {
  .post-meta {
    display: flex;
    justify-content: center;

    position: static;
  }
}

.post {
  margin: 5rem 25vw 0;
  text-align: justify;
}
.post a {
  color: {{.Style.Link | color}};
}

.post blockquote {
  margin: 0;
  padding-left: 2em;
  border-left: solid 3px {{.Style.Primary | color}};
}

.post img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .post {
    margin: 5rem 15vw 0;
  }
}
@media only screen and (max-width: 500px) {
  .post{
    margin: 5rem 5vw 0;
  }
}
