{{define "content"}}
{{$cmt := index .Committees .Page.Index}}
<div class="hero center">
  <div class="image">
    {{range $cmt.Images}}
    <img src="{{.Src}}" alt="{{.Alt}}" loading="lazy" />
    {{end}}
  </div>
  <h1>Últimas notícias</h1>
  <h2>{{$cmt.Name}}</h2>
</div>


<ol class="index-wrapper">
  {{range .Page.Posts}}
  <li>
    <article>
      <img src="{{.Image.Src}}" alt="{{.Image.Alt}}" />
      <a href="/ac/m/{{.Media | slugify}}/{{.Title | slugify}}">
        <h2>{{.Title}}</h2>
      </a>
      <a href="/ac/m/{{.Media | slugify}}">
        <p class="media">{{.Media}}</p>
      </a>
    </article>
  </li>
  {{end}}
</ol>
{{end}}

{{template "base.html" .}}
