{{define "content"}}
{{$media := index .Medias .Page.Index}}
<div class="hero center">
  <div class="image">
    <img src="{{$media.Image.Src}}" alt="{{$media.Image.Alt}}" loading="lazy" />
  </div>
  <h1>{{$media.Name}}</h1>
  <h2>{{$media.Authors}}</h2>
</div>

<ol class="index-wrapper">
  {{range .Page.Posts}}
  <li>
    <article>
      <img src="{{.Image.Src}}" alt="{{.Image.Alt}}" />
      <a href="/ac/m/{{.Media | slugify}}/{{.Title | slugify}}">
        <h2>{{.Title}}</h2>
      </a>
      <a href="/ac/{{.Cmt | slugify}}">
        <p class="cmt">{{.Cmt}}</p>
      </a>
    </article>
  </li>
  {{end}}
</ol>
{{end}}

{{template "base.html" .}}
