{{define "content"}}
<h1 class="ac-media-h1">Confira nossos jornais!</h1>

<ul class="block-wrapper">
  {{range .Medias}}
  <li class="block">
    <a href="/ac/m/{{.Name | slugify}}">
      <img class="bg-image" src="{{.Image.Src}}" alt="{{.Image.Alt}}" loading="lazy" />
      <div class="white center text">
        <h3>{{.Name}}</h3>
      </div>
    </a>
  </li>
  {{end}}
</ul>
{{end}}

{{template "base.html" .}}
