{{define "content"}}
{{$post := index .Posts .Page.Index}}
<div class="hero center">
  <div class="image">
    <img src="{{$post.Image.Src}}" alt="{{$post.Image.Alt}}" loading="lazy" />
  </div>
  <h1>{{$post.Title}}</h1>
  <h2>por {{$post.Author}} ({{$post.Media}})</h2>
</div>

<div class="post-meta">
  <h3>{{$post.Cmt}}</h3>
  <p>{{$post.Date}}</p>
</div>

<div class="post">
  {{$post.Content}}
</div>
{{end}}

{{template "base.html" .}}
